name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: 'run unity'
    uses: ncipollo/unity-action@master
    with: 
      username: ${{ secrets.username }}
      password: ${{ secrets.password }}
